
// /* element resets */
input,
select,
textarea {
    width: 100%;
    margin: 0;
    outline: 0;
}

.dropdown-control {
    width: fit-content;
    height: 2.5rem;
    padding: 0.625rem 1.25rem 0.625rem 0;
    border-radius: 0.25rem;

    label {
        display: flex;
        margin-bottom: 0.25rem;
    }
}



