<section class="sleep">
    <div class="u-flex">
        <app-dropdown 
            [config]="inBedForm"
            [data]="durationIncrements"
            (formValues)="getBedForm($event)">
        </app-dropdown>
        
        <app-dropdown 
            [config]="sleepForm" 
            [data]="durationIncrements"
            (formValues)="getAsleepForm($event)">
        </app-dropdown>
    </div>
    
    <div class='sleep__button'>
        <button 
            [disabled]="!durationInBed || !durationAsleep"
            (click)="calculateScore()">
            Calculate
        </button>
    </div>

    <ng-container *ngIf="loading">
        <app-loader></app-loader>
    </ng-container>

    
    <div *ngIf="localResponse">
        <h3>Your sleep score is {{score}}.</h3>
    </div>
</section>